.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Adjusted grid columns for better responsiveness */
  gap: 2rem; /* Increased gap for better spacing */
}

.about__me {
  width: 100%;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
  display: grid;
  place-items: center;
  overflow: hidden; /* Added overflow hidden for container */
}

.about__me-image {
  width: 100%; /* Adjusted width for responsiveness */
  height: auto; /* Allowing the image to resize proportionally */
  border-radius: 2rem;
  transform: rotate(10deg);
  transition: transform var(--transition);
}

.about__me:hover .about__me-image {
  transform: rotate(0);
}
  
  .about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  
  .about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
  }
  
  .about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
  }
  
  .about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .about__card h5 {
    font-size: 0.95rem;
  }
  
  .about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
  }
  
  .about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
  }
  
  @media screen and (max-width: 1024px) {
    .about__container {
      grid-template-columns: 1fr;
      gap: 0;
    }
  
    .about__me {
      width: 50%;
      margin: 2rem auto 4rem;
    }
  
    .about__content p {
      margin: 1rem 0 1.5rem;
    }
  }
  /* media queries (small devices) */
  
  @media screen and (max-width: 600px) {
    .about__container {
      grid-template-columns: 1fr; /* Single column layout on smaller devices */
      gap: 1rem; /* Adjusted gap for smaller screens */
    }
  
    .about__me {
      width: 80%; /* Adjusted width for better fit on small screens */
      margin: 0 auto 2rem; /* Centering and margin adjustment */
    }
  }